<div class="main">
  <app-top-bar></app-top-bar>
  <div class="center-part">
    <div class="body-main">
      <div class="body-main-left">
        <div class="title">
          Aggiungi Nota
        </div>
        <div class="subtitle">
          Qui puoi aggiungere una nota , scegliere se è in entrata o in uscita e il sistema calcolerà automaticamente la sitauzione attuale.
        </div>
        <div class="financial-note">
          <input #financialInput type="number" [(ngModel)]="inputFinancial" (keyup)="selectFinancialValue($event)">
          <img src="assets/images/euro.svg" alt="">
        </div>
        <div class="multiselect-continer">
          <select [(ngModel)]="noteObj.specs">
            <option *ngFor="let item of listMultiselect" [value]="item">{{item}}</option>
          </select>
        </div>
        <div class="type-note">
          <div class="select-send select-type" [ngClass]="noteObj.type == 1 ? 'selected-type' : ''" (click)="selectTypeFinancial(1)">
            <img src="assets/images/money-send.svg" alt="">
          </div>
          <div class="select-recive select-type"[ngClass]="noteObj.type == 2 ? 'selected-type' : ''" (click)="selectTypeFinancial(2)">
            <img src="assets/images/money-recive.svg" alt="">
          </div>
        </div>
        <div class="button-container">
          <div class="reset-button" (click)="resetValue()">
            Reset
          </div>
          <div class="button-send" (click)="sendValues()">
            Salva
          </div>
        </div>
      </div>
      <div class="body-main-right" *ngIf="financials?.length != 0">
        <div *ngFor="let item of financials" [ngSwitch]="item.specs" class="notes-container-right">

          <div *ngSwitchCase="'Spesa primaria'" class="note-item" [ngClass]="item.type == 1 ? 'out-item': 'in-item'">
           <p>{{item.specs}}</p>
           <p>{{item.type == 1 ? '- ' : '+ '}}{{item.value}} €</p>
          </div>
          <div *ngSwitchCase="'Spesa secondaria'" class="note-item" [ngClass]="item.type == 1 ? 'out-item': 'in-item'">
           <p>{{item.specs}}</p>
           <p>{{item.type == 1 ? '- ' : '+ '}}{{item.value}} €</p>
          </div>
          <div *ngSwitchCase="'Materia prima'" class="note-item" [ngClass]="item.type == 1 ? 'out-item': 'in-item'">
           <p>{{item.specs}}</p>
           <p>{{item.type == 1 ? '- ' : '+ '}}{{item.value}} €</p>
          </div>
          <div *ngSwitchCase="'Marketing'" class="note-item" [ngClass]="item.type == 1 ? 'out-item': 'in-item'">
           <p>{{item.specs}}</p>
           <p>{{item.type == 1 ? '- ' : '+ '}}{{item.value}} €</p>
          </div>
          <div *ngSwitchCase="'Rimborso'" class="note-item" [ngClass]="item.type == 1 ? 'out-item': 'in-item'">
              <p>{{item.specs}}</p>
           <p>{{item.type == 1 ? '- ' : '+ '}}{{item.value}} €</p>
          </div>
          <div *ngSwitchCase="'Acquisto'" class="note-item" [ngClass]="item.type == 1 ? 'out-item': 'in-item'">
           <p>{{item.specs}}</p>
           <p>{{item.type == 1 ? '- ' : '+ '}}{{item.value}} €</p>
          </div>
          <div *ngSwitchDefault>
            'tipo non definito'
          </div>
        </div>
        <div class="line-final">
          Resoconto mese {{totalForMonth}} €
        </div>
      </div>
      <div class="body-main-right" *ngIf="financials?.length == 0">
        <div class="no-notes">
          Nessuna Nota Inserita
        </div>
      </div>
    </div>
  </div>
 </div>
